header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

h1{
    text-align: center;
}

.ota{
    width: 350px;
    height: 250px;
    border-top: 458px;
    border-left: 811px;
    background-color: red;
    color: white;
   justify-content: center;
   align-items: center;
   display: flex;
}

main{
    justify-content: space-around;
 display: flex;

}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}